a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.menu__link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.h1-tag {
    color: darkcyan;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.h2-tag-index {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.parag {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.about_img {
    border-radius: 10px;
    width: 800px;
}

.form__input{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.form__button {
    width: 130px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}